extern/dropbear_build
extern/build
extern/install
images/image.iso
build/isofiles/bzImage
build/isofiles/initrd.img
build/isofiles/isolinux.cfg
initramfs/bin/
initramfs/opt/
initramfs/lib/modules
initramfs/lib/firmware
guest-initramfs/bin/
guest-initramfs/opt/
guest-initramfs/lib/modules
guest-initramfs/lib/firmware
setup.log
